@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');


label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.login {
  min-height: 100vh;
}

.bg-image {
  background-image: url(/imagenLogin.PNG); 
  background-size: cover;
  background-position: center;
}

.bg-image2 {
  background-image: url(/imagenLogin.PNG);
  background-size: cover;
  background-position: center;
}

.btn-dark {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.textLogo {
  font-size: 4.5rem;
  font-weight: 600;
  text-transform: none;
  width: 530px;
  margin: 0 auto;
  font-family: 'Roboto Condensed', sans-serif;
}

.iconosRedes {
  min-width: 200px;
  display: flex;
  justify-content: space-around;
}

.iconosRedes a {
  text-decoration: none;
  font-size: 30px;
  width: 70px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #10100F;
  color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  transition: all .4s ease-in-out;
}

.iconosRedes a:hover {
  transform: scale(1.2);
}

.small{
  text-decoration-color: #10100F;
}